<template>
    <div>
        <b-modal @show="show" :id="'modal-quiz-update-' + id"  centered size="xl" :hide-footer="hideFooter"
                 ok-title="Сохранить" cancel-title="Отменить"
                 @ok="update"
                 :title="'Опрос №' + id">
            <div v-if="quiz">
                <p class="mb-4">
                    <!-- :state="validation" -->
                    <b-input type="text" v-model="quiz.QuizName" />
                </p>
                <b-tabs content-class="mt-3">
                    <b-tab title="Вопросы" active>
                        <p>
                            <b-button v-b-modal.modal-question-new variant="outline-secondary">Добавить новый</b-button>
                            <questions :quiz-id="quiz.QuizId" />
                        </p>
                    </b-tab>
                    <b-tab title="Параметры">
                        <b-form-group
                                description="Несколько можно указать через запятую"
                                label="Email для получения результатов">
                            <b-form-input v-model="quiz.QuizSettings.emails" placeholder="..." ></b-form-input>
                        </b-form-group>

                        <b-form-group
                                description="Заявка с сайта"
                                label="Заголовок в Email">
                            <b-form-input v-model="quiz.QuizSettings.subject" placeholder="..." ></b-form-input>
                        </b-form-group>

                        <b-form-group
                                description="Оставьте Ваш контакт и получите подборку квартир без риска столкнуться с мошенничеством и недостроем."
                                label="Текст в контактах">
                            <b-form-textarea
                                    v-model="quiz.QuizSettings.contactsText"
                                    placeholder="..."
                                    rows="3"
                                    max-rows="6"
                            ></b-form-textarea>
                        </b-form-group>

                        <b-form-group
                                description="Спасибо"
                                label="Текст после опроса">
                            <b-form-textarea
                                    v-model="quiz.QuizSettings.resultsText"
                                    placeholder="..."
                                    rows="3"
                                    max-rows="6"
                            ></b-form-textarea>
                        </b-form-group>

                        <!--
                        <b-form-group
                                description="%QUESTION%: %USER_ANSWER%"
                                label="Формат вопрос - ответ">
                            <b-form-textarea
                                    v-model="quiz.QuizSettings.QATemplate"
                                    placeholder="..."
                                    rows="3"
                                    max-rows="6"
                            ></b-form-textarea>
                        </b-form-group>

                        <b-form-group
                                description="Текст, отправляемый на email"
                                label="Текст результатов поиска">
                            <b-form-textarea
                                    v-model="quiz.QuizSettings.resultsTemplate"
                                    placeholder="..."
                                    rows="3"
                                    max-rows="6"
                            ></b-form-textarea>
                        </b-form-group>
                        -->
                    </b-tab>
                </b-tabs>
            </div>
        </b-modal>
    </div>
</template>

<script>
    module.exports = {
        components: {
            'questions': httpVueLoader('js/components/Questions.vue'),
        },
        methods: {
            show() {
                this.get()
            },
            get() {
                let params = {
                    id: this.id,
                };

                $.getJSON('api/quizzes', params).done((response) => {
                    this.quiz = response;
                    this.quiz.QuizSettings = this.quiz.QuizSettings ? JSON.parse(this.quiz.QuizSettings) : {};
                });
            },
            update() {
                let params = {
                    id: this.id,
                    QuizName: this.quiz.QuizName,
                    QuizSettings: this.quiz.QuizSettings
                };

                $.post( 'api/quizzes?operation=update', params ).done(( response ) => {
                    this.$emit('updated');
                    this.quiz = null;
                });
            }
        },
        data: () => {
            return {
                quiz: null
            }
        },
        computed: {
            validation() {
                return this.quiz &&
                    this.quiz.QuizName &&
                    this.quiz.QuizName.length > 3;
            },
            hideFooter() {
                return this.quiz ? false : true;
            }
        },
        props: ['id']
    }
</script>

<style>

</style>