<template>
    <b-container fluid>
        <b-row>
            <b-col>
                <h1>{{ title }}</h1>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <quizzes />
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    module.exports = {
        components: {
            'quizzes': httpVueLoader('js/components/Quizzes.vue'),
            'check-db': httpVueLoader('js/components/CheckDb.vue'),
        },
        data: () => {
            return {
                title: 'Тесты/Опросы',
            }
        },
    }
</script>

<style>

</style>