<template>
    <b-container fluid class="px-0">
        <b-row class="mb-3">
            <b-col>
                <question-update :quiz-id="QuizId" @created="questionUpdated" />
            </b-col>
        </b-row>
        <b-row class="mb-3">
            <b-col>
                <b-table striped hover :items="items" :fields="fields">
                    <template v-slot:cell(actions)="data">
                        <b-button v-b-modal="'modal-question-conditions-' + data.item.QuestionId">
                            <i class="fab fa-buffer"></i>
                            <conditions :quiz-id="QuizId" :question-id="data.item.QuestionId" />
                        </b-button>
                        <b-button v-b-modal="'modal-question-update-' + data.item.QuestionId">
                            <i class="fas fa-edit"></i>
                            <question-update :quiz-id="QuizId" @updated="questionUpdated" :id="data.item.QuestionId" />
                        </b-button>
                        <b-button @click="deleteQuestion(data.item.QuestionId)"><i class="far fa-trash-alt"></i></b-button>
                    </template>
                </b-table>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    module.exports = {
        components: {
            'conditions': httpVueLoader('js/components/Conditions.vue'),
            'question-update': httpVueLoader('js/components/forms/QuestionUpdate.vue'),
        },
        methods: {
            getQuestions() {
                $.getJSON('api/questions', { QuizId: this.QuizId }).done((response) => {
                    this.items = response;
                });
            },
            deleteQuestion(QuestionId) {
                this.$bvModal.msgBoxConfirm('Подтверждаете удаление?!', {
                    title: `Удалить вопрос №${QuestionId}`,
                    okTitle: 'Удалить',
                    centered: true,
                    cancelTitle: 'Отмена',
                })
                    .then(value => {
                        if (value) {
                            $.post('api/questions?operation=delete', { id: QuestionId }).done((response) => {
                                this.getQuestions();
                            });
                        }
                    })
            },
            questionUpdated() {
                this.getQuestions();
            }
        },
        data: () => {
            return {
                items: [],
                fields: [
                    { key: 'QuestionId', label: '№', thStyle: { width: '50px' } },
                    { key: 'QuestionName', label: 'Вопрос' },
                    { key: 'actions', label: '', thStyle: { width: '200px' } },
                ]
            }
        },
        created() {
            this.getQuestions();
        },
        props: ['QuizId']
    }
</script>

<style>

</style>